<nav class="navbar navbar-expand-sm {{className}}  bg-transparent px-0">
    <div class="container-fluid">
        <div class="{{classMenu}}  ">
            <span class="menu-btn__burger"> </span>
        </div>
        <a class="navbar-brand font-lg-24px ml-md-4" href="#">PrimeRental</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto font-montserrat">
                <a class="nav-item px-lg-2 nav-link {{classlink}} " href="/">Home </a>
                <a class="nav-item px-lg-2 nav-link {{classlink}} " href="#">Mobil
                    Kami</a>
                <a class="nav-item px-lg-2 nav-link {{classlink}} " href="#">Tentang</a>
                <a class="nav-item ml-lg-2 px-2 nav-link btn btn-primary text-secondary " href="#">Login</a>
            </div>
        </div>
    </div>
</nav>