<nav id="navTop" class="navbar navbar-expand-md {{className}}  bg-transparent px-0">
    <div class="container-fluid">
        <div class="{{classMenu}}  ">
            <span class="menu-btn__burger"></span>
        </div>
        <a class="navbar-brand font-lg-24px ml-md-4" href="#">PrimeRental</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav mx-auto d-flex w-100   font-montserrat">
                <a class="nav-item px-lg-2 nav-link ml-auto {{classlink}} " href="/">Home </a>
                <a class="nav-item px-lg-2 nav-link {{classlink}} " href="list-cars.html">Mobil
                    Kami</a>
                <a class="nav-item px-lg-2 nav-link {{classlink}}  " href="about.html">Tentang
                </a>
                <a class="nav-item ml-md-2 my-auto nav-link  text-primary" href="#">
                    <i class="fas fa-search"></i>
                </a>
                <li class="nav-item dropdown  my-auto ml-2  ">

                    <a href="# " class="profile--toggle" id="profileDropdown" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user "></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu dropdown-menu-right bg-secondary profileDropDown text-primary"
                        aria-labelledby="profileDropdown">
                        <div class=" dropdown-menu-nav nav text-primary ">
                            <a href="login.html" class="text-primary nav-link ">
                                <i class=" fad fa-sign-in-alt fa-fw mr-1 ">
                                </i>
                                <span>Masuk</span>
                            </a>
                            <a href="#" class="nav-link text-primary">
                                <i class="fa-fw fad fa-user-plus"></i>
                                <span class=" ml-1 ">Registrasi</span></a>
                        </div>
                    </div>
                </li>
            </div>
        </div>
    </div>
</nav>