<div class="card {{className}} ">
    <img class="img-fluid" src="{{image}}" alt="">
    <div class="card-body">
        <h6 class="card__brand">{{brand}}</h6>
        <h5 class="card__type font-md-20px">{{type}}</h5>
        <h5 class="card__price ">{{price}}/hari</h5>
        <a href="detail.html" class="btn card__btn mt-2">Detail</a>
    </div>
</div>